In [5]:
import pandas as pd
import numpy as np

In [140]:
# import excel data
df = pd.read_excel (r'data/COVID-19-geographic-disbtribution-worldwide-2020-06-10.xlsx')

In [141]:
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-06-10,10,6,2020,542,15,Afghanistan,AF,AFG,37172386.0,Asia
1,2020-06-09,9,6,2020,575,12,Afghanistan,AF,AFG,37172386.0,Asia
2,2020-06-08,8,6,2020,791,30,Afghanistan,AF,AFG,37172386.0,Asia
3,2020-06-07,7,6,2020,582,18,Afghanistan,AF,AFG,37172386.0,Asia
4,2020-06-06,6,6,2020,915,9,Afghanistan,AF,AFG,37172386.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
22587,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
22588,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,Africa
22589,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
22590,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
22591,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa

In [142]:
# list of countries
countries = df['countriesAndTerritories'].unique()

# list of dates
dates = df['dateRep'].unique()

In [143]:
# dataframe for merging individual countries into final dataframe
df_merge = pd.DataFrame({'dateRep': dates})
df_merge

       dateRep
0   2020-06-10
1   2020-06-09
2   2020-06-08
3   2020-06-07
4   2020-06-06
..         ...
158 2020-03-06
159 2020-03-05
160 2020-03-04
161 2020-03-03
162 2020-03-07

[163 rows x 1 columns]

In [144]:
# loop through each country in the dataframe
for country in countries:
    df_country = df[df['countriesAndTerritories'] == country]
    
    # apply 5 day rolling average and drop NaN rows
    df_country['rollingCases'] = df_country['cases'].rolling(5).mean()
    df_country['perCapCases'] = (df_country['rollingCases'] / df_country['popData2018']) * 100000

C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [145]:
df_country

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,rollingCases,perCapCases
22510,2020-06-10,10,6,2020,27,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,NaN,NaN
22511,2020-06-09,9,6,2020,5,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,NaN,NaN
22512,2020-06-08,8,6,2020,3,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,NaN,NaN
22513,2020-06-07,7,6,2020,14,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,NaN,NaN
22514,2020-06-06,6,6,2020,28,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,15.4,0.106655
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22587,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,1.0,0.006926
22588,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,Africa,0.6,0.004155
22589,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,0.2,0.001385
22590,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,0.4,0.002770
22591,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa,0.4,0.002770

In [146]:
df_final = pd.DataFrame({'dateRep': dates})

In [147]:
df_final['Zimbabwe'] = df_merge.merge(df_country, on='dateRep', how='left')['perCapCases']

In [148]:
df_final

       dateRep  Zimbabwe
0   2020-06-10       NaN
1   2020-06-09       NaN
2   2020-06-08       NaN
3   2020-06-07       NaN
4   2020-06-06  0.106655
..         ...       ...
158 2020-03-06       NaN
159 2020-03-05       NaN
160 2020-03-04       NaN
161 2020-03-03       NaN
162 2020-03-07       NaN

[163 rows x 2 columns]