In [5]:
import pandas as pd
import numpy as np

In [163]:
# import excel data
df = pd.read_excel (r'data/COVID-19-geographic-disbtribution-worldwide-2020-06-10.xlsx')

In [184]:
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-06-10,10,6,2020,542,15,Afghanistan,AF,AFG,37172386.0,Asia
1,2020-06-09,9,6,2020,575,12,Afghanistan,AF,AFG,37172386.0,Asia
2,2020-06-08,8,6,2020,791,30,Afghanistan,AF,AFG,37172386.0,Asia
3,2020-06-07,7,6,2020,582,18,Afghanistan,AF,AFG,37172386.0,Asia
4,2020-06-06,6,6,2020,915,9,Afghanistan,AF,AFG,37172386.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
22587,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
22588,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0,Africa
22589,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
22590,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa
22591,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0,Africa

In [220]:
# list of countries
countries = df['countriesAndTerritories'].unique()


# list of dates
dates = df['dateRep'].unique()

In [191]:
# dataframe for merging individual countries into final dataframe
df_merge = pd.DataFrame({'dateRep': dates})
df_merge.sort_values(by='dateRep', inplace=True)
df_merge

       dateRep
152 2019-12-31
151 2020-01-01
150 2020-01-02
149 2020-01-03
148 2020-01-04
..         ...
4   2020-06-06
3   2020-06-07
2   2020-06-08
1   2020-06-09
0   2020-06-10

[163 rows x 1 columns]

In [210]:
df_final = pd.DataFrame({'dateRep': dates})
df_final.sort_values(by='dateRep', inplace=True)
df_final.reset_index(inplace=True, drop=True)
df_final

       dateRep
0   2019-12-31
1   2020-01-01
2   2020-01-02
3   2020-01-03
4   2020-01-04
..         ...
158 2020-06-06
159 2020-06-07
160 2020-06-08
161 2020-06-09
162 2020-06-10

[163 rows x 1 columns]

In [215]:
df_country = df[df['countriesAndTerritories'] == 'Italy']
df_country.sort_values(by='dateRep', inplace=True)
df_country['rollingCases'] = df_country['cases'].rolling(5).mean()
df_country['perCapCases'] = (df_country['rollingCases'] / df_country['popData2018']) * 100000
df_country.reset_index(inplace=True, drop=True)
df_final['Italy'] = df_country['perCapCases']
df_final

C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

       dateRep     Italy
0   2019-12-31       NaN
1   2020-01-01       NaN
2   2020-01-02       NaN
3   2020-01-03       NaN
4   2020-01-04  0.000000
..         ...       ...
158 2020-06-06  0.500403
159 2020-06-07  0.530851
160 2020-06-08  0.490805
161 2020-06-09  0.477236
162 2020-06-10  0.512317

[163 rows x 2 columns]

In [222]:
# final dataframe
df_final = pd.DataFrame({'dateRep': dates})
df_final.sort_values(by='dateRep', inplace=True)
df_final.reset_index(inplace=True, drop=True)

# loop through each country in the dataframe
for country in countries:
    
    df_country = df[df['countriesAndTerritories'] == country]
    df_country.sort_values(by='dateRep', inplace=True)
    
    # apply 5 day rolling average and drop NaN rows
    df_country['rollingCases'] = df_country['cases'].rolling(5).mean()
    df_country['perCapCases'] = (df_country['rollingCases'] / df_country['popData2018']) * 100000
    
    df_country.reset_index(inplace=True, drop=True)
    
    df_final[country] = df_country['perCapCases']

C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Smili\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [223]:
df_final

,dateRep,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,...,United_States_of_America,United_States_Virgin_Islands,Uruguay,Uzbekistan,Venezuela,Vietnam,Western_Sahara,Yemen,Zambia,Zimbabwe
0,2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-04,0.0,0.160481,0.0,3.63608,0.001298,NaN,0.207715,0.005394,0.0,...,0.000000,3.552165,0.458064,0.013958,0.022861,0.000000,NaN,0.000702,0.003458,0.00277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,2020-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.580545,NaN,NaN,NaN,NaN,0.000837,NaN,NaN,NaN,NaN
159,2020-06-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.650051,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,2020-06-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.757519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161,2020-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.703907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,2020-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.552608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN